/* Layout */

html,
body,
#home {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
}


@font-face {
    font-family: Lilita One;
    src: url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
  }
  
@font-face {
    font-family: Mansalva;
    src: url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
}
  
@font-face {
    font-family: AgencyFB;
    src: url('../Fonte/AgencyFB.ttf');
}

/* Barra de navegacao */
nav.navbar-transparente {
  padding: 15px, 0px;
  background: rgba(0, 0, 0, 0.6);
}

.navbar-dark .navbar-nav .nav-link {
  color: #EDF6F9;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #83c5be;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
  margin: 10px 10px;
  width: 1px;
  background: #EDF6F9;
}

#nome{
    font-size: 50px;
    font-family: "AgencyFB";
    color: #EDF6F9;
}

.lapis{
    width: 60px;
    height: 60px;
}

.form-signin {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 500px;
    padding: 15px;
    margin: auto;
    background-color: #006d77;
    border-radius: 15px;
  }
  
.form-signin .form-control {
  
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

.form-signin input {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-family: 'AgencyFB';
    background-color: #EDF6F9;
  
}

.botao {
    margin-top: 15px;
    margin-left: 15%;
    border-radius: 5px;
    width: 70%;
    color: #006d77;
    background-color: #EDF6F9;
    border: none;
    font-family: 'AgencyFB';
  }

  .botao:hover{
    background-color: #83c5be;
  }

/* Home */
.capa {
  text-align: center;
}
/* Fontes adicionais*/

#p1 {
  font-family: "Mansalva", cursive;
  line-height: 52px;
  color: white;
}

.container-1{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: auto;
}

#box {
  width: 50%;
  height: 20px;
  background-color: #83c5be;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;

  min-height: 3em;
  display: flex;
  justify-content: center;

  font-family: Verdana;
  align-items: center;
  font-weight: bold;
  color: #EDF6F9;
}

#box-2 {
  width: 150px;
  height: 50px;
  background-color: #006d77;
  border-radius: 10px;
  margin: auto;

  min-height: 3em;
  display: flex;
  justify-content: center;

  font-family: Verdana;
  align-items: center;
  font-weight: bold;
  color: #EDF6F9;
}

#box-3 {
  width: 30px;
  height: 25px;
  background-color: #006d77;
  border-radius: 10px;
  margin: auto;

  display: flex;
  justify-content: center;

  font-family: Verdana;
  align-items: center;
  font-weight: bold;
  color: #EDF6F9;
}

#box-et {
  width: 145px;
  height: 20px;
  background-color: #006d77;
  border-radius: 10px;
  margin: auto;

  min-height: 3em;
  display: flex;
  justify-content: center;

  font-family: Verdana;
  align-items: center;
  font-weight: bold;
  color: #EDF6F9;
}

.btn-te{
  display: flex;
  flex-direction: column;
  align-items: center;
} 

#btn{
  display: flex;
  flex-direction: row;
}

#center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#vertical{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a{
  color: #006d77;
  text-decoration: none;
}

a:hover{
  color:#EDF6F9;
}



/*Classes dos Horarios da pagina inicial*/
.horarios{
  width: 500%;
  height: 20px;
  background-color: #83c5be;
  border-radius: 5px;
  min-height: 50px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: "AgencyFB";
  font-size: 30px;
  color: #EDF6F9;
}

.horarioLetra{
  color: #EDF6F9;
  text-decoration: none;
}




/*Botão Cria Horario da pagina Inicial*/
.criaH{
  background-color: #EDF6F9;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  
}
.criaH:hover{
  background-color: #006d77;
}

.letracriaH{
  font-size: 40px;
  font-family: "AgencyFB";
  color: #006d77;
}

.letracriaH:hover{
  color: #83c5be;
}




/*Centraliza texto*/
.CentralizarDiv{
  display: flex;
  justify-content: center;
  width: 100%;
}
a:link{
  text-decoration: none;
}




/*Botao que pode escolher no Evento e Tarefas*/
.TeEBotao{
  background-color: #83c5be;
  border-radius: 10px;
  color: #EDF6F9;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.TeE{
  font-size: 40px;
  font-family: "AgencyFB";
  color: #006d77;
}

.TeE:hover{
  color: #EDF6F9;
}




/*Botão Escolhido na pagina Eventos e Tarefas*/
#escolhaTeE{
  background-color: #006d77;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#letraTeE{
  font-size: 40px;
  font-family: "AgencyFB";
  color: #EDF6F9;
  text-align: center;
}



/*Botão de Cria Evento e Tarefas*/
.criaTE{
  background-color: #83c5be;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}
.criaTE:hover{
  background-color: #006d77;
}

.letracriaTE{
  font-size: 40px;
  font-family: "AgencyFB";
  color: #006d77;
}

.letracriaTE:hover{
  color: #83c5be;
}




/*Tabela Evento e Tarefas*/
#tabela{
  background-color: #EDF6F9;
  font-family: "AgencyFB";
  font-weight: bold;
  color: #006d77;
  margin-top: 10px;
  border: 1px;
  text-align: center;
}

.tabela-cabecalho{
  background-color: #006d77;
  color: #EDF6F9;
  text-align: center;
}




/*Deixa DIV com borda vermelha*/
.VERIFICAR{

  border-style: solid;
  border-color: red;
}