<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Estilo Costumizado -->
  <link rel="stylesheet" type="text/css" href="CSS/signin.css">
  <link rel="stylesheet" type="text/css" href="CSS/componentes.css">
  <title>MindCapacity</title>
  <link rel="icon" href="Imagens/Logo.svg">

</head>

<body>
     

  <!-- Inicio da seção login-->
  <section id="login" class="d-flex">

    <div class="container align-self-center">
      <div class="row d-flex justify-content-center">
        <img class="logo" src="./Imagens/Logo.svg">
      </div>
    
      <div class="row d-flex justify-content-center">
        <form class="form-signin text-center shadow" action="/" method="POST">
          <ul style="list-style: none;" class="form-control error">
            <% if(typeof errors != "undefined"){ %>
              <% errors.forEach(error=>{ %>
                <li><%= error.message %></li>
              <% }) %>
            <% } %>
          </ul>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
          
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          
          <button type="submit" class="btn btn-lg btn-primary btn-block botao"> Login</button>
          
          <a class="nav-link cadastrar" href="inscreva-se">Cadastrar</font></a>
          
        </form>

        <button type="button" class="btn btn-lg btn-primary btn-block botao"> Login</button>

    </div>

  </section>
  <!-- Fim da seção login-->

    <!-- JavaScript (Opcional) -->
    <!--jQuery primeiro, depois Popper.js, depois Bootstrap JS--> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
  </body>
</html>
